.detailFilm{
    background-color: rgb(248,200,72);
    height: 800px;
   .Film{
   
    display: flex;
    flex-direction: row;
    height: 100%;
    
    
    .pic{
       margin-top: 3%;
        border: 10px solid wheat;
        height: 700px;
        width: 500px;
        margin-left: 5%;
      
        
        img{
            
            height: 100%;
            width: 100%;
        }
    }

    .text{
    
        border-radius: 5%;
        margin-top: 3%;
        margin-left: 2%;
        font-size: 30px;
        color: white;
        width: 800px;
        height: 700px;
        background-color: orange;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        .detail{
            h1{
                font-family: 'Pacifico', cursive;
                font-size: 50px;
            }

            .tt{
                font-family: 'Pacifico', cursive;
                font-size: 22px;
                line-height: 2;
            }
            
            span{
                font-family: 'Signika Negative', sans-serif;
                font-size: 21px;
                line-height: 2;
            }
        }
        
        .content{
          
            height: 35vh;
          
            h1{
                padding-top: 1%;
                font-family: 'Pacifico', cursive;
                font-size: 26px;
            }
            span{
                font-family: 'Signika Negative', sans-serif;
                font-size: 19px;
                line-height: 1.5;
               
            }

         
        }

        .foo{
            

            display: flex;
            flex-direction: row;
            width: 60vh;
            margin-left: 20%;
            

            .a{
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                border-radius: 40% 40% 40% 40%;
                height: 50px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgba(255, 255, 255, 0.9);
                font-weight: bold;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 5%;
                margin: 10px;
               

                img{
                    height: 30px;
                    width: 50px;
                    margin-right: 10px;
                   
                }


                &:hover{
                background-color: rgba(0, 0, 0, 0.8);
                color: rgba(255, 255, 255, 1);
                }
            }

            .b{
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                margin: 10px;
                height: 50px;
                width: 150px;
                background-color: rgb(255, 0, 144);
                border-radius: 40% 40% 40% 40%;
                cursor: pointer;
                text-align: center;
                padding-top: 3%;
                font-weight: bold;
                &:hover{
                    background-color: #ffcc04;
                    color: black;
                }

            }


        }
    }


} 


}

